<body>
    <div class="container">
        <div class = "login-box">
            <h2>Login</h2>
            <form action = "#">
                <div class = "input-box">
                    <label>Username</label>
                    <input type="username" [(ngModel)]="username" name="Username" required>
                </div>
                <div class = "input-box">
                    <input type="password" [(ngModel)]="password" name="Password" required>
                    <label>Password</label>
                </div>
                <div class = "riddle-box">
                    <p>{{riddle.question}}</p>
                    <form>
                        <div class="input-box">
                            <input type="text" [(ngModel)]="userAnswer" name="userAnswer" required>
                            <label>Your Answer</label>
                        </div>
                    </form>
                </div>
                <button type="submit" class="btn" (click)="onLogIn(username, password, userAnswer)">Login</button>
            </form>
            <h2>Sign-up</h2>
            <form>
                <div class = "signup-box">
                    <label>Username</label>
                    <input type="username2" [(ngModel)]="newUser.username" name="Username2" required>
                </div>
                <div class = "signup-box">
                    <input type="password2" [(ngModel)]="newUser.password" name="Password2" required>
                    <label>Password</label>
                </div>
                <button type="submit" class="btn" (click)="onSignIn(newUser.username, newUser.password)">Sign Up</button>
            </form>
        </div>
    </div>
</body>