<body>
    <div class="container">
        <div class = "login-box">
            <h2>Login</h2>
            <form action = "#">
                <div class = "input-box">
                    <label>Username</label>
                    <input type="username" [(ngModel)]="username" name="Username" required>
                </div>
                <button type="submit" class="btn" (click)="onLogIn(username)">Login</button>
            </form>
            <h2>Sign-in</h2>
            <form>
                <div class = "signup-box">
                    <label>Username</label>
                    <input type="username2" [(ngModel)]="newUser.username" name="Username2" required>
                </div>
                <button type="submit" class="btn" (click)="onSignIn(newUser.username)">Sign In</button>
            </form>
        </div>
    </div>
</body>