.container{
    margin-left: 0px;
}
input{
    margin: 3px 8px;
}
label{
    font-size: 16px;
}
form{
    margin: 5px 0px;
}
body{
    background: none;
}
img{
    max-width: 10%;
    margin: 5px;
    box-shadow: 1px 2px 3px black;
}
p{
    max-width: 15%;
    margin: auto 0;
    font-family: 'Brush Script MT', cursive;
    font-size: 20px;
}
span{
    display:flex;
}